li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.open li .tooltip{
  display: none;
}

li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

li a:hover{
  background: #FFF;
}

li a .text{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.open li a .text{
  opacity: 1;
  pointer-events: auto;
}

li a:hover .text,
li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}

li i{
  height: 50px !important;
  line-height: 50px !important;
  font-size: 18px !important;
  border-radius: 12px !important;
}